<div class="carousel-slide">

  <ngb-carousel class="carousel-inner">

    <ng-template ngbSlide *ngFor="let banner of banners">
      <div class="wrapper">

        <img class="d-block w-100"
        src="https://image.tmdb.org/t/p/original/{{ banner.backdrop_path }}"
        alt="{{ banner.title || banner.name }}"
        >
      </div>

      <div class="carousel-caption">

        <h1 class="d-inline-block">{{ banner.title || banner.name }}</h1>
        <p class="d-none d-lg-block">{{ banner.overview }}</p>
        <a [routerLink]="['/movie', banner.id]"
        class="btn btn-primary text-uppercase font-weight-bold"
        >Veja mais detalhes</a>

      </div>
    </ng-template>

  </ngb-carousel>

  </div>
