.carousel-inner {
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.wrapper {
  position: relative;
  padding-top: 43%;
}

.wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.carousel-caption h1, p {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.39);
}

.carousel-caption .btn-primary {
  background-color: #E30F19;
  border-radius: 5.3;
  border: none;
  min-width: 150px;
}
