<div class="header">
  <div class="content">
    <div class="sub_media">
      <div class="nav_wrapper">
        <a href="/" class="logo">
          <img src="assets/images/logo2.png" alt="Cine View" class="img"/>
        </a>
      </div>
      <form
        [formGroup]="form"
        class="search_form"
        id="inner_search_form"
        action="/search"
        method="get"
        accept-charset="utf-8"
      >
        <label class="search">
          <input
            dir="auto"
            id="inner_search_v4"
            name="query"
            type="text"
            tabindex="1"
            autocorrect="off"
            autofill="off"
            autocomplete="off"
            spellcheck="false"
            placeholder="Buscar título"
            value=""
            formControlName="search"
            minlength="2"
          />
        </label>
        <button
          type="submit"
          class="submit btn"
          (click)="onSubmit()">
          <i class="material-icons v-middle red">
          search
          </i>
        </button>
      </form>
    </div>
  </div>
</div>
