.header {
  display: flex;
  align-items: center;
}

.header a {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.header .logo {
  max-height: 32px;
}

.header .title-group {
  padding-left: 10px;
  padding-right: 30px;
}

.header .col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .title-group i {
  padding-right: 5px;
}

@media (min-width: 992) {
  
}
