.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  justify-content: flex-end;
}

.full-width {
  width: 100%;
}

.input {
  max-width: 100%;
  width: 300px;
  border-radius: 5px;
}

.btn {
  color: #fff;
}

.btn:hover {
  background-color: #E30F19;
  color: #fff;
}

@media (max-width: 990px) {
  .form {
    padding-bottom: 10px;
  }
}
