
<div class="contain mt-3 p-4 " id="selecionados">
  <div class="row">
      <h1 class="text-light">Selecionados</h1>
      <div class="rowposter mt-3 p-2">
          <ng-container *ngFor="let populares of filmesPopulares; let i = index">

              <img
              src="https://image.tmdb.org/t/p/original/{{ populares.poster_path }}"
              class="rowimg largposter"
              alt="{{ populares.original_title || populares.name }}"
              (click)="openMovieDetails(i)"
              >

          </ng-container>
      </div>
  </div>
</div>

<div class="contain mt-3 p-4 " id="bombando">
  <div class="row">
      <h1 class="text-light">Mais Assistidos</h1>
      <div class="rowposter mt-3 p-2">
          <ng-container *ngFor="let mais of maisAssistidos; let i = index">

              <img
              src="https://image.tmdb.org/t/p/original/{{ mais.poster_path }}"
              class="rowimg poster"
              alt="{{ mais.original_title || mais.name }}"
              (click)="openMovieDetails(i)"
              >

          </ng-container>
      </div>
  </div>
</div>

<div class="contain mt-3 p-4">
  <div class="row">
      <h1 class="text-light">Recomendados</h1>
      <div class="rowposter mt-3 p-2">
          <ng-container *ngFor="let proximos of filmesProximos; let i = index">

              <img
              src="https://image.tmdb.org/t/p/original/{{ proximos.poster_path }}"
              class="rowimg largposter"
              alt="{{ proximos.original_title || proximos.name }}"
              (click)="openMovieDetails(i)"
              >

          </ng-container>
      </div>
  </div>
</div>
